[Unit]
Description=Adjusts toucpad settings

[Service]
ExecStart=/home/owner/touchpad.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
